# Server Configuration
PORT=3030
HOST=0.0.0.0
LOG_LEVEL="debug"
DEEPSEEK_API_KEY=

# Database Connection
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# Local Postgres Container Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb
DB_PORT=5432
